.attendance-registration{
    .btns{
        margin-top:5%;
    }
    .center{
      margin-top: 3% ;
    }
    .card-header{
        font-size: large;
        font-weight: 400;
        background-color:#343a40 ;
        color: #f8f9fa;
    }
    .card{
        background-color:#f8f9fa;
      }
      
}